body{
	background-color: #339966;
}

table{
	width: 500px;
	text-align: center;
	padding-bottom: 1px;
}
th, td{	
	color: midnightblue;
	padding: 5px;
}
#assignments{
	color:midnightblue;
	text-align: center;
	line-height: 2px;
}
#title{
	text-align: center;
	color: PapayaWhip;
}
#toggle{
	margin-right: auto;
	margin-left: auto;
}
div.banner, #about{
	display: none;
}
div.mando{
	background-color: darkseagreen;
	padding: 1px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#about{
	background-color: darkseagreen;
	padding: 1px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
#merc{
	text-align: center;
	color:midnightblue;
	line-height: 2px;
}
#mmcc{
	background-size: auto;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 55px;
	max-width: 100%;
	height: auto;
	width: auto;
}