body{
	background-color: midnightblue;
}
#assignments{
	color:midnightblue;
	text-align: center;
	line-height: 2px;
}
#title{
	text-align: center;
	color: PapayaWhip;
}
#toggle{
	margin-right: auto;
	margin-left: auto;
}
div.banner{
	display: none;
}
div.mando{
	background-color: darkseagreen;
	padding: 1px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
#merc{
	text-align: center;
	color:midnightblue;
	line-height: 2px;
}
#mmcc{
	background-size: auto;
	margin-left: auto;
	margin-right: auto;	
	padding-left: 55px;
	max-width: 100%;
	height: auto;
	width: auto;
}